---
import { parse } from "url";
import Layout from "../../layouts/Layout.astro";
const params = Astro.url.searchParams;
const code = params.get("code");
---

<Layout title="Redirect">
  <p class="text-center">Redirecting...</p>
  <p class="text-center">Your code is {code}</p>
</Layout>
<!--

<p>This is your data.</p>
  <ul>
    <li>Username:{userData.global_name}</li>
    <li>UserID:{userData.username}</li>
    <li>Email:{userData.email}</li>
    <li>
      Avatar:<img
        src={"https://cdn.discordapp.com/avatars/" +
          userData.id +
          "/" +
          userData.avatar}
        alt="avatar"
      />
    </li>
    <li>
      Banner:<img
        src={"https://cdn.discordapp.com/banners/" +
          userData.id +
          "/" +
          userData.banner}
        alt="banner"
      />
    </li>
    <li>SnowflakeID:{userData.id}</li>
  </ul>

 -->
